.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    max-width: 50%;
}

.game.header {
    text-align: center;
}

.game.number {
    padding: 5px;
    border: 2px solid rgb(163, 189, 166);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.game.submit {
    padding: 5px 15px;
    margin-bottom: 5px;
    background: rgb(163, 189, 166);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

.game.option {
    padding: 5px;
    border: 2px solid rgb(163, 189, 166);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/**
 * CSS sprite for a dice with six faces.
 */
 .dice-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    background: url("../image/dice-faces.jpg") no-repeat;
}

.dice-sprite.dice-1 { background-position: -160px 0; }
.dice-sprite.dice-2 { background-position: -128px 0; }
.dice-sprite.dice-3 { background-position: -96px 0; }
.dice-sprite.dice-4 { background-position: -64px 0; }
.dice-sprite.dice-5 { background-position: -32px 0; }
.dice-sprite.dice-6 { background-position: 0 0; }

.red {
    color: rgb(170, 37, 37);
}

.green {
    color: rgb(54, 149, 54);
}
